################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1/bin
/1/obj
/packages
/1/node_modules
