td {
    border: black 1px solid;
    padding: 5px;
}
table {
    border-collapse:collapse;
    color: blue;
}
th {
    border: black 1px solid;
    padding: 5px;
    color:black;
}
.true {
    color:white;
    background-color:green;
}
.false {
    color:white;
    background-color:red;
}