<table>
    <thead>
        <tr>
            <th>
                Employee Id
            </th>  
            <th>
                Name
            </th>
            <th>
                Designation
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeeList">
            <td>
                {{employee.employeeId}}
            </td>
            <td>
                {{employee.name}}
            </td>
            <td>
                {{employee.designation}}
            </td>
        </tr>
        <tr *ngIf="!employeeList || employeeList.length==0">
            <td colspan="3">
                No employees found in list.
            </td>
        </tr>
    </tbody>    
</table>
<br />